/* Error: Missing argument $image.
 *   ,--> scss\components\_product.scss
 * 48|         @include background();
 *   |         ^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> scss\abstracts\mixin\_background.scss
 * 3 | @mixin background($image, $coordinate: null, $color: null, $size: null) {
 *   |        ================================================================ declaration
 *   '
 *   scss\components\_product.scss 48:9  background()
 *   scss\components\_product.scss 48:9  @forward
 *   scss\components\_index.scss 2:1     @use
 *   scss\style.scss 2:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $image.\a   \250c \2500 \2500 > scss\\components\\_product.scss\a 48\2502          @include background();\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > scss\\abstracts\\mixin\\_background.scss\a 3 \2502  @mixin background($image, $coordinate: null, $color: null, $size: null) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   scss\\components\\_product.scss 48:9  background()\a   scss\\components\\_product.scss 48:9  @forward\a   scss\\components\\_index.scss 2:1     @use\a   scss\\style.scss 2:1                 root stylesheet";
}
