/* Mode 1 */
/* colors */
$black: #000000;
$blue: #004cff;
$blue2: #0042e0;
$bluee5: #e5ebfc;
$bluef1: #f1f4fe;
$bluecc: #ccd9f9;
$grayc7: #c7c7c7;
$graye7: #e7e7e7;
$grayf8: #f8f8f8;
$grayf3: #f3f3f3;
$gray20: #202020;
$grayd9: #d9d9d9;
$green: #08c514;
$pink: #ff5790;
$pinkf8: #f81140;
$option1: #ebebeb;
$pinkff: #ffebeb;
$white: #ffffff;
$yellowfe: #fee375;
$yellowf9: #f9d000;