@use "../abstracts/" as *;

.header {
  &.profile {
    display: flex;
    justify-content: space-between;
    padding: rem(30) rem(20) rem(22);
    > :nth-child(1) {
      display: flex;
      gap: rem(14);
    }
    > :nth-child(2) {
      display: flex;
      gap: rem(11);
    }
  }
}
