@use "../abstracts/" as *;
%dialogIcon {
  padding-top: rem(57);
  overflow: visible;
  &::before {
    @include position(a, left, 50%, top, rem(-40));
    content: "";
    width: rem(80);
    height: rem(80);
    border-radius: 100%;
    filter: drop-shadow(0 rem(3) rem(8) rgba(0, 0, 0, 0.16));
  }
}

.dialog {
  @include position(f, left, 50%, top, 50%, 1000);
  padding: rem(25) rem(20);
  border-radius: rem(19);
  //   transform: translate(-50%, -10%);
  &[open] {
    animation: dialogUp 1 2s both;
    &::backdrop {
      animation: backdropFadeIn 1 0.5s 0.5s both;
    }
  }
  &.alert {
    @extend %dialogIcon;
    &::before {
      @include background("ico_alert.svg", center, $white, rem(50));
    }
  }
  &.confirm {
    @extend %dialogIcon;
    &::before {
      @include background("ico_confirm.svg", center, $white, rem(50));
    }
  }
  &::backdrop {
    background-color: rgba($black, 0);
    backdrop-filter: blur(2px);
  }
}

@keyframes backdropFadeIn {
  0% {
    background-color: rgba($black, 0);
  }
  100% {
    background-color: rgba($black, 0.5);
  }
}

@keyframes dialogUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes dialogUpDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}
.half-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: linear-gradient(to right, transparent 50%, red 50%);
  box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
