
@use "../function" as *;
@use "../var" as *;

%profile {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin profile($size, $border) {
  @extend %profile;
  display: block;
  width: rem($size);
  height: rem($size);
  border-radius: 100%;
  border: rem($border) solid $white;
  box-sizing: border-box;
  filter: drop-shadow(0 rem(5) rem(10) rgba(141, 141, 141, 0.16));
  img {
    aspect-ratio: 1/1;
  }
}


// @use  "../../abstracts/" as *;

// %profile {
//     overflow: hidden;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   @mixin profile($width, $height, $border){
//     @extend .profile;
//     width: rem($width);
//     height: rem($height);
//     border-radius: 100%;
//     border: rem(10) solid $white;
//     filter: drop-shadow(0 rem(5) rem(10) rgba(141, 141, 141, 0.16));
//     img {
//         aspect-ratio: 1/1;
//     }

   
//   }