$black: #000000;
$blue: #004cff;
$blue9e:#9EB4E8;
$bluee5: #E5EBFC;
$bluef1: #f1f4fe;
$bluef9: #f9f9f9;
$grayc7: #c7c7c7;
$graye7: #e7e7e7;
$grayf3:#f3f3f3;
$grayf8: #f8f8f8;
$gray20: #202020;
$grayd2: #d2d2d2;
$green: #08c514;
$pink: #ff5790;
$option1: #ebebeb;
$pinkff: #ffebeb;
$white: #ffffff;
