/* Mode 1 */
/* colors */
$black: #000000;
$blue: #004cff;
$bluee5: #e5ebfc;
$bluef1: #f1f4fe;
$grayc7: #c7c7c7;
$graye7: #e7e7e7;
$grayf8: #f8f8f8;
$gray20: #202020;
$green: #08c514;
$pink: #ff5790;
$option1: #ebebeb;
$pinkff: #ffebeb;
$white: #ffffff;