@use "../abstracts/" as *;
@use "./box" as *;
@use "../base/" as *;


%product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
%productThumb {
  overflow: hidden;
  &:hover{
    img{
      transform: scale(1.2);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s;
  }

}

.product-vertical {
  display: flex;
  gap: rem(6);


  overflow-x: auto;
  overflow-x: hidden;
  a {           
    @extend %productThumb;
    display: block;
    width: rem(104);
    height: rem(175);
    border-radius: rem(9);
    img {
      transform: scale(1);
      transform-origin: center;
    }
  }
}

.product-list {
  @extend %product;
  gap: rem(6);
  &__thumb {
    @extend %productThumb;

    margin-bottom: rem(6);
    img {
      aspect-ratio: 1/1;
    }
  }
  &__price {
    padding-top: rem(1);
  }
}
.only-product {
  @extend %product;
  gap: rem(6) rem(4);
}

.product-like {
  li {
    @extend .box-white;
  }
  a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__thumb {
    @extend %productThumb;

    grid-column: 1 / 3;
    border-radius: rem(5);
    margin-bottom: rem(7);
    img {
      aspect-ratio: 1/1.2;
    }
  }
  &__count {
    display: flex;
    align-items: center;
    gap: rem(1.2);
    color: $black;
    font-size: rem(15);
    font-weight: 700;
    line-height: rem(19);
    letter-spacing: rem(-0.15);
    &::after {
      @include background("../imgs/ico_like.svg", null, null, contain);
      content: "";
      width: rem(10);
      height: rem(10);
    }
  }

  &__state {
    justify-self: end;
  }
}











// .product-vertical {
//     display: flex;
//     a{
//         display: block;
//         overflow: hidden;
//         border-radius: rem(9);
//         width: rem(104);
//         height: rem(175);
//         border-radius: ;
//         img{
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
// }





// .product-vertical {
//     display: flex;
//     gap: rem(6);
//     a {
//       display: block;
//       overflow: hidden;
//       width: rem(104);
//       height: rem(175);
//       border-radius: rem(9);
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         transform: scale(1.2);
//         transform-origin: center;
//       }
//     }
//   }


// %product{
//     // display: grid;
//     // grid-template-columns: repeat(3 1fr);
//     @extend %product;
// }
// %productThumb {
//     overflow: hidden;
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }//@extend %productThumb;



// .product-list {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: rem(6);
//     &__thumb {
//         margin-bottom: rem(6);
//         img {
//             width: 100%;
//             height: 100%;
//             aspect-ratio: 1/1;
//             object-fit: cover;
//         }
//     }

//     &__price {
//         padding-top: rem(1);
//     }
// }

// .only-product{
//     gap: rem(6) rem(4);
// }

// .product-like {
//     display: grid;
//     grid-template-columns: repeat(4,1fr);
//     gap: rem(5);
//     li{
//         @extend .box-white;
//     }
//     a{
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//     }
//     &__thumb{ 
//         //@extend %productThumb;

//         grid-column: 1 /3;
//         overflow: hidden;
//         border-radius: rem(5);
//         margin-bottom: rem(7);
//     }
//     img{
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         aspect-ratio: 1/1.2;
//     }
//     &__count {
//         display: flex;
//         align-items: center;
//         gap: rem(1.2);
//         color: $black;
//         font-size: rem (15);
//         font-weight: 700;
//         line-height: rem(19);
//         letter-spacing: rem(-0.15);
//         font-family: $english;
//         &::after{
//             @include background("ico_like.svg", null, null contain);
//             content: "";
//             width: rem(10);
//             height: rem(10);
//         }
//     }

//     &__starte{
//         justify-self: end;
//     }

// }




